# Google Sheets API
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Amazon SP-API
AMZ_CLIENT_ID=amzn1.application-oa2-client.xxx
AMZ_CLIENT_SECRET=your-client-secret
AMZ_REFRESH_TOKEN=Atzr|xxx

# Mercado Libre
MELI_ACCESS_TOKEN=APP_USR-xxx
MELI_REFRESH_TOKEN=TG-xxx
MELI_APP_ID=5427076205404931
MELI_SECRET_KEY=B300RicGdrKybi1YkjOBWaF17Su5imc2
